<h5 style="text-align: center">Crown Pair Match Helper</h5>
<div class="container">
  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="0">
    @for (boardItem of boardList; track boardItem;){
    <mat-grid-tile>
      <img
        class="icon"
        [src]="boardItem.type.image"
        alt="board image"
        (click)="onCardClicked(boardItem)"
      />
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
<div class="button-container" style="display: flex">
  <button button class="button" mat-flat-button (click)="onResetBoard()">
    Reset Board
  </button>
  <button button class="button" mat-flat-button (click)="onSaveBoard()">
    Save Board
  </button>
  <button button class="button" mat-flat-button (click)="onLoadBoard()">
    Load Board
  </button>
</div>

<ng-template #dialogTemplate>
  <div class="dialog-container">
    @for (boardItem of boardItems; track boardItem;){
    <img
      class="image"
      [src]="boardItem.image"
      alt="board image"
      (click)="onCardSelected(boardItem)"
    />
    }
  </div>
</ng-template>
