<header class="header">
  <h1 class="title">Fruit Pair Match Helper</h1>
</header>
<div class="container">
  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="10px">
    @for (boardItem of boardList; track boardItem;){
    <mat-grid-tile>
      <div class="card" (click)="onCardClicked(boardItem)">
        <img class="icon" [src]="boardItem.type.image" alt="board image" />
      </div>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
<div class="button-container">
  <button
    class="button"
    [ngClass]="{ selected: selectedMode == '1' }"
    mat-raised-button
    (click)="onSelectNoramlMode()"
  >
    Normal Mode
  </button>
  <button
    class="button"
    [ngClass]="{ selected: selectedMode == '2' }"
    mat-raised-button
    (click)="onSelectFruitMode()"
  >
    Fruit Mode
  </button>
  <button class="button reset" mat-flat-button (click)="onResetBoard()">
    Reset Board
  </button>
</div>

<ng-template #dialogTemplate>
  <div class="dialog-container">
    @for (boardItem of boardItems; track boardItem;){
    <div class="card" (click)="onCardSelected(boardItem)">
      <img class="image" [src]="boardItem.image" alt="board image" />
    </div>
    }
  </div>
</ng-template>
