mat-grid-tile {
  background: rgb(95, 69, 52);
}

.container {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
}
.button-container {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.dialog-container {
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  width: 90%;
  height: 90%;
}
.button {
  margin: 0 auto;
  margin-top: 50px;
}
.image {
  width: 75px;
  height: 75px;
  margin: 5px;
}
